/* Dashboard.css */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #ff0000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
  }
  
  .dashboard-title {
    color: #ffffff;
    margin: 10px 0;
  }
  
  .dashboard-info {
    background-color: #423f3f;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
  }
  
  .dashboard-info h2 {
    color: #ffffff;
    font-size: 20px;
    margin: 5px 0;
  }
  
  /* Estilos responsivos para pantallas pequeñas */
  @media (max-width: 768px) {
    .dashboard-container {
      width: 90%;
      margin: 20px auto;
      padding: 10px;
    }
  }
  