
.form-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-signin img {
    margin-bottom: 15px;
  }
  
  .form-signin h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-floating {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-control {
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn {
    width: 100%;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #9a1818;
  }
  
  .btn:active {
    background-color: #003366;
  }
  
  .form-signin p {
    color: #666;
    margin-top: 30px;
  }
  
  @media (max-width: 768px) {
    .form-signin {
      width: 90%;
      margin: 20px auto;
      padding: 10px;
    }
  }
  