.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: black; 
}

.container.banner {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 30px; /* Espacio debajo del banner */
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.banner-img.active {
    opacity: 1;
    z-index: 1;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas que ocupan el espacio disponible */
    max-width: 1800px; /* O el ancho máximo que desees para tu contenedor */
    margin: 0 auto; /* Esto centrará el contenedor en la pantalla */
    gap: 30px; /* Espacio entre las tarjetas */
}


.movie-card {
    position: relative; /* Asegúrate de que el .movie-card sea relativo para posicionar los elementos internos */
    overflow: hidden; /* Esto asegura que todo lo que se desborde se oculte */
    transition: transform 0.3s ease-in-out;
}





.movie-card:hover {
    transform: scale(1.05);
}
.movie-overlay {
  
    opacity: 0.7; 
}

.card-poster {
    width: 100%; /* asegúrate de que la imagen cubra el ancho */
    display: block; /* elimina el espacio extra debajo de la imagen */
    /* altura ya definida y object-fit de estilos existentes */
}

.card-content {
    /* No más position: absolute; */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-actions {
    width: 100%; /* Opcional: dependiendo de cómo quieres que se muestren los botones */
    display: flex;
    justify-content: space-evenly; /* Esto separará los botones uniformemente */
    padding: 10px 0; /* Espacio arriba y abajo de los botones */
}
/* Ajusta los estilos para los botones y el título */
.movie-title, .like-button, .delete-button {
    margin-bottom: 10px; /* Espacio debajo de cada elemento */
    z-index: 2; /* Asegúrate de que estén sobre cualquier otro contenido */
    display: flex; /* Usa flexbox para alinear los íconos y el texto dentro de los botones */
    justify-content: center; /* Centra el contenido de los botones */
}

.movie-title, .like-button {
    display: block; 
    z-index: 2; 
    position: relative; 
}


/* Estilos para botones similares a los de Netflix */
.like-button, .delete-button {
    background-color: #e50914; /* Color rojo distintivo de Netflix */
    color: white;
    border: none;
    border-radius: 2px; /* Bordes ligeramente redondeados */
    padding: 10px 20px; /* Padding generoso para un look más amplio */
    cursor: pointer;
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño de fuente más grande */
    text-transform: uppercase; /* Texto en mayúsculas */
    display: inline-flex; /* Usa flexbox para alinear íconos y texto */
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s;
    text-decoration: none; /* Sin subrayado */
    margin: 0 5px; /* Margen entre botones */
}

.like-button:hover, .delete-button:hover {
    background-color: #f40612; /* Un rojo ligeramente más oscuro al pasar el mouse */
    transform: scale(1.05); /* Un ligero aumento de tamaño al pasar el mouse */
}

/* Ajustes para el contenedor de botones para mejor espaciado */
.card-actions {
    display: flex;
    justify-content: space-around; /* Distribuye el espacio alrededor de los botones */
    margin-top: 10px; /* Espacio arriba de los botones */
}

/* Ajustes para los íconos dentro de los botones si los usas */
.like-icon, .delete-icon {
    margin-right: 8px; /* Espacio a la derecha del ícono */
}



.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 300px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}


.search-bar input[type="text"]:focus,
.search-bar select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .search-bar {
        flex-direction: column;
        gap: 5px;
    }

    .search-bar input[type="text"],
    .search-bar select {
        width: 90%;
    }
}
