/* Estilos para el formulario */
.add-movie-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #141414;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .add-movie-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-movie-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .add-movie-form input[type="text"],
  .add-movie-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #000;
    border: 1px solid #333;
    color: #fff;
    border-radius: 4px;
  }
  
  .add-movie-form input[type="text"]::placeholder,
  .add-movie-form input[type="number"]::placeholder {
    color: #999;
  }
  
  .add-movie-form button {
    background-color: #e50914;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add-movie-form button:hover {
    background-color: #ff3f4c;
  }
  
  /* Estilos para mensajes de error */
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Estilos para mensajes de éxito */
  .success-message {
    color: #00ff00;
    font-size: 14px;
    margin-top: 5px;
  }
  