
  

  h1 {
    font-size: 24px;
    margin: 0;
    color: #e50914; 
  }
  
 
  p {
    font-size: 16px;
    margin: 8px 0;
    color: #666;
  }
  

  p.loading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #e50914; 
  }
  

  a {
    color: #e50914; 
    text-decoration: none;
  }
  
  
  a:hover {
    text-decoration: underline;
    color: #ff0d0d; 
  }
  

  .info {
    background-color: #f7f7f7; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  