/* Navbar.css */
.navbar {
  background-color: #ff0000; /* Color de fondo */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.navbar .logo img {
  height: 50px;
}

.pages {
  display: flex;
  align-items: center;
}

.pages div {
  margin: 0 10px; /* Espaciado horizontal entre los enlaces */
}

.pages a {
  color: #ffffff; /* Color de texto para los enlaces */
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.pages a:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
}
